@import "src/scss/settings/colors";

.home__header {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 1rem;
    line-height: 1.8rem;
    color: $dark-accent-color;
  }

  h1:nth-child(1) {
    font-size: 1.4rem;
  }

  .home__header__buttons__wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    a {
      text-decoration: none;
      color: $dark-accent-color;
      border: 1px solid $gray-accent-color;
      padding: 15px 20px;
      text-align: center;
      text-transform: uppercase;
    }

    a:nth-child(1) {
      margin-bottom: 20px;
    }
  }
}