@import "src/scss/settings/colors";

.home__four-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $base-light-color;
  padding-top: 40px;
  padding-bottom: 40px;

  h1 {
    font-size: 1.4rem;
    color: $dark-accent-color;
  }

  hr {
    width: 30%;
    border-color: $dark-accent-color;
  }

  .four-col__wrapper {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .four-col__col {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 50px;
      font-weight: 300;

      img {
        height: 70px;
        padding-bottom: 10px;
        color: $yellow-accent-color;
      }

      h2 {
        font-size: 1rem;
      }

      hr {
        border-color: $yellow-accent-color;
      }

      p {
        font-size: 0.8rem;
      }
    }

    .four-col__col:nth-last-child(1) {
      padding-bottom: 0;
    }
  }
}